:root {
  --pri: #b7c4cf;
  --sec: #eee3cb;
  --tri1: #d7c0ae;
  --tri2: #967e76;
  --text: #4d3128;
}
@font-face {
  font-family: normal;
  src: url(./fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: light;
  src: url(./fonts/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: bold;
  src: url(./fonts/AeonikTRIAL-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: normal;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: var(--tri2);
}

section.allEle {
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top: 60px;
  background-color: var(--tri2);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: absolute;
  overflow: auto;
}
.elems {
  width: 270px;
  height: 400px;
  border-radius: 20px;
  background-color: var(--pri);
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
}
.elems img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.elems h2 {
  position: absolute;
  bottom: 3%;
  right: 5%;
  font-weight: 200;
  font-size: 20px;
  color: var(--tri1);
}
.elems:active {
  scale: 0.97;
}

.fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--tri2);
  padding: 30px;
  display: none;
  position: absolute;
}
.fullElem h2 {
  color: rgb(226, 221, 218);
}
.back {
  position: absolute;
  top: 3%;
  right: 3%;
  padding: 10px 11px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgb(200, 192, 192);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all ease 0.2s;
}
.back:hover {
  scale: 0.97;
}
.todo-fullpage .task-container {
  height: 85%;
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-fullpage .task-container .addtask {
  width: 35%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--pri);
  display: block;
}

.todo-fullpage .task-container .addtask form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
.todo-fullpage .task-container .addtask form input#task-input {
  width: 100%;
  padding: 15px 20px;
  font-size: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--sec);
  outline: none;
}
.todo-fullpage .task-container .addtask form textarea {
  width: 100%;
  padding: 15px 20px;
  font-size: 20px;
  height: 250px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--sec);
  outline: none;
}
.todo-fullpage .task-container .addtask form button {
  width: 100%;
  padding: 15px 20px;
  font-size: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--tri1);
  outline: none;
  font-weight: 600;
  color: var(--text);
  transition: all ease 0.2s;
  cursor: pointer;
}
.task-container .addtask form button:active {
  scale: 0.96;
}
.todo-fullpage .task-container .alltask {
  width: 63%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--pri);
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.todo-fullpage .task-container .alltask .task {
  margin-top: 20px;
  background-color: var(--sec);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}
.alltask .task h5 {
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 10px;
}
.task h5 span {
  background-color: red;
  color: var(--text);
  padding: 4px 6px;
  border-radius: 50px;
  font-size: 8px;
}
.task h5 span.true {
  opacity: 1;
}
.task h5 span.false {
  opacity: 0;
}
.alltask .task button {
  padding: 5px 7px;
  color: var(--sec);
  background-color: green;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.addtask .mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 5px;
  margin-bottom: 20px;
  width: 100%;
  gap: 20px;
}
.mark-imp input {
  scale: 1.2;
}
.mark-imp label {
  font-size: 17px;
  color: var(--text);
}

.daily-planner-fullpage h2 {
  color: var(--pri);
  font-size: 40px;
}
.daily-planner-fullpage .day-planner {
  background-color: var(--sec);
  height: 85%;
  margin-top: 30px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
}
.daily-planner-fullpage .day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 12px;
}
.day-planner .day-planner-time p {
  position: absolute;
  top: 5%;
  left: 1%;
  color: var(--text);
}
.day-planner .day-planner-time input {
  padding: 20px 40px;
  width: 100%;
  background-color: var(--pri);
  border-radius: 5px;
  border: none;
  font-size: 25px;
  outline: none;
  color: var(--text);
}
.Motivational-fullpage {
  position: relative;
}
.Motivational-fullpage .motivation-container {
  height: 400px;
  width: 60%;
  /* background-color: var(--pri); */
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Motivational-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 50px;
  scale: 1.2;
  background-color: var(--pri);
  filter: blur(100px);
  z-index: 8;
}
.Motivational-fullpage .motivation-container .motivational-wrapper {
  z-index: 10;
  position: absolute;
  /* height: 100%; */
  width: 100%;
  background-color: var(--sec);
  padding: 10px;
  border-radius: 40px;
}
.motivation-1 {
  background-color: var(--tri1);
  padding: 30px;
  border-radius: 30px;
  width: fit-content;
}
.motivation-1 h2 {
  color: var(--text);
  text-align: center;
}
.motivation-2 {
  padding: 10px;
  margin-top: 20px;
}
.motivation-2 h1 {
  font-size: 35px;
  font-weight: 700;
  color: var(--text);
  
}
.motivation-3 {
  padding: 30px;
  border-radius: 30px;
  margin-top: 10px;
}
.motivation-3 h2 {
  color: var(--text);
  text-align: right;
}

.Pomodoro-fullpage{
    position: relative;
}
.Pomodoro-fullpage h2{
    font-size: 45px;
    color: var(--pri);
    font-weight: 500;
}
.Pomodoro-fullpage .pomo-timer{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.pomo-timer h1{
    font-size: 125px;
    font-weight: 500;
    color: white;
}
.pomo-timer button{
    background-color: var(--sec);
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 0px black;
    transition: all ease 0.2s;
    font-weight: 500;
}
.pomo-timer button:active{
    box-shadow: 0px 0px 0px black;
}